@model IEnumerable<Producer>

@{
    ViewData["Title"] = "Producers";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead class="table" style="background-color: #0c748a;">
            <tr class="text-center text-light">
                <th>@Html.DisplayNameFor(model=>model.ProfilePictureURL)</th>
                <th>@Html.DisplayNameFor(model=>model.FullName)</th>
                <th>@Html.DisplayNameFor(model=>model.Bio)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody class="table-light">

            
            @foreach (var producer in Model!)
            {
                <tr class="text-center" >
                    <td class="align-middle">
                        <img class="rounded-circle" src="@producer.ProfilePictureURL" alt="Profile Picture" style="width: 150px;height: 150px"/>
                    </td>
                    <td class="align-middle">@producer.FullName</td>
                    <td class="align-middle">@producer.Bio</td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-controller="Producers" asp-action="Edit" asp-route-id="@producer.Id" >Edit <i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-outline-info"  asp-controller="Producers" asp-action="Details" asp-route-id="@producer.Id"  >Details <i class="bi bi-eye"></i></a>
                        <a class="btn btn-outline-danger"  asp-controller="Producers" asp-action="Delete" asp-route-id="@producer.Id" >Delete <i class="bi bi-trash"></i></a>

                    </td>

                </tr>
            }
            </tbody>
        </table>
    </div>
    
</div>
<div style="position: fixed; right: 25px; bottom: 60px;" class="text-white">
    <a asp-controller="Producers" asp-action="Create" class="btn btn-success"> 
        <i class="bi bi-plus-circle"></i> Add New </a>
</div>